*{
    margin: 0;
    padding:0;
}
.king{
    background-color: black;
}

.topic{
    display:flex;
    width:100%;
}
.row{
    display: flex;
    flex-direction:row;
    padding:30px;
}
.secondrow{
    display:flex;
    flex-direction:row;
    padding:30px;
}
.thirdrow{
    display:flex;
    flex-direction:row;
    padding:30px;
}
.fourthrow{
    display:flex;
    flex-direction:row;
    padding:30px;
}
.fifthrow{
    display:flex;
    flex-direction:row;
    padding:30px;
}
.sixthrow{
    display:flex;
    flex-direction:row;
    padding:30px;
}
.side{
    font-size: 40px;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:20px;
}
.movies_scifi{
    display: flex;
    flex-direction:column;
}
.sai{
    padding-left: 20px;
    border: 3px;
    border-radius: 15px;
}
.link{
    padding-left:80px;
}
